.Footer {
    background-image: url("../images/snow/snow.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100svw;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    object-fit: cover;
    .footer-brand {
        padding: 7em 5em 3em 0em;
    }
}