.Grid {
    padding: 6em 5em 7.5em 5em;
    margin: 0 auto;
    background-color: transparent;
    max-width: 70svw;
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding: 1.5em;

        .box {
            border: 1px solid #fff;
            border-radius: 18px;
            padding: .65em;
            font-size: 1.25em;
            font-weight: 700;
            background-color: $pink;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .num-and-arrow {
                display: flex;
                justify-content: space-between;
            }

            .visible-title {
                text-align: center;
                font-size: .75em;
                span {
                    font-family: $main-font !important;
                    font-weight: 500;
                }
            }

            .resource-type {
                text-align: right;
                font-size: .25em;
                
                span {
                    width: fit-content;
                    font-family: $main-font !important;
                    text-transform: uppercase;
                    font-weight: 400;
                    padding: .5em .75em;
                    border-radius: 1em;
                    letter-spacing: .25em;
                }
            }
        }

        .box:hover {
                cursor: url('../Cursors_Wreath.png'), auto;
        }

        .single, .horizontal, .vertical {
            object-fit: contain;
        }

        .div2, .div8, .div13 {
            background-color: $orange;
        }

        .div3, .div7, .div9, .div14, .div15 {
            background-color: $lightPink;
        }

        .div4, .div5, .div10, .div12, .div16 {
            background-color: $orangePink;
        }

        .div6, .div11, .div17 {
            background-color: $darkPink;
        }

        .active {
            border: none;
            transition: all 220ms ease-in-out;
        }

        .active:hover {
            filter: drop-shadow(3px 3px 3px #28225c83);
            z-index: 6;
        }

        .covered {
            background-image: none !important;
            background-color: $pink;
            cursor: default;
            span {
                color: $blue !important;
            }
        }
        
        .div2.covered:hover, .div3.covered:hover, .div5.covered:hover, .div9.covered:hover, .div10.covered:hover, .div15.covered:hover, .div16.covered:hover, .div17.covered:hover, .div8.covered:hover {
            background-image: url("../images/resource-covers/single-grid-resource-cover.svg") !important;
            background-size: cover;
            border-top: none !important;
            border-bottom: none !important;
        }

        .div4.covered:hover, .div11.covered:hover, .div13.covered:hover {
            background-image: url("../images/resource-covers/vertical-resource-cover.svg") !important;
            background-size: cover;
            background-color: $pink;
            border-top: none !important;
            border-bottom: none !important;
        }

        .div6.covered:hover, .div7.covered:hover, .div12.covered:hover, .div14.covered:hover {
            background-image: url("../images/resource-covers/horizontal-resource-cover.svg") !important;
            background-size: cover;
            background-color: $pink;
            border-top: none !important;
            border-bottom: none !important;
        }


        .div1 { 
            grid-area: 1 / 1 / 2 / 2; 
            height: auto;
            text-align: center;
            width: fit-content;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .div2 { grid-area: 1 / 2 / 2 / 3; 
            background-image: url("../images/resource-thumbnails/day1.svg");
            }

        .div3 { grid-area: 1 / 3 / 2 / 4; 
            background-image: url("../images/resource-thumbnails/day2.svg");
        }
        .div4 { grid-area: 1 / 4 / 3 / 5; 
            background-image: url("../images/resource-thumbnails/day3.svg");
        }
        .div5 { grid-area: 2 / 1 / 3 / 2; 
            background-image: url("../images/resource-thumbnails/day4.svg");
        }
        .div6 { grid-area: 2 / 2 / 3 / 4; 
            background-image: url("../images/resource-thumbnails/day5.svg");
        }
        .div7 { grid-area: 3 / 1 / 4 / 3; 
            background-image: url("../images/resource-thumbnails/day6.svg");
        }
        .div8 { grid-area: 3 / 3 / 4 / 4; 
            background-image: url("../images/resource-thumbnails/day7.svg");
        }
        .div9 { grid-area: 3 / 4 / 4 / 5; 
            background-image: url("../images/resource-thumbnails/day8.svg");
        }
        .div10 { grid-area: 4 / 1 / 5 / 2; 
            background-image: url("../images/resource-thumbnails/day9.svg");
        }
        .div11 { grid-area: 4 / 2 / 6 / 3; 
            background-image: url("../images/resource-thumbnails/day10.svg");
        }
        .div12 { grid-area: 4 / 3 / 5 / 5; 
            background-image: url("../images/resource-thumbnails/day11.svg");
        }
        .div13 { grid-area: 5 / 1 / 7 / 2; 
            background-image: url("../images/resource-thumbnails/day12.svg");
        }
        .div14 { grid-area: 5 / 3 / 6 / 5; 
            background-image: url("../images/resource-thumbnails/day13.svg");
        }
        .div15 { grid-area: 6 / 2 / 7 / 3; 
            background-image: url("../images/resource-thumbnails/day14.svg");
            }
        .div16 { grid-area: 6 / 3 / 7 / 4; 
            background-image: url("../images/resource-thumbnails/day15.svg");
            }
        .div17 { grid-area: 6 / 4 / 7 / 5; 
            background-image: url("../images/resource-thumbnails/day16.svg");
            }
        }
    }

    .light-num {
        color: #fff !important;
    }

    .dark-num {
        color: $blue !important;
    }


@media only screen and (min-width: 300px) and (max-width: 450px) {
    .Grid {
        padding: 7em 1em 7.5em 1em;
        margin: 0 auto;
        background-color: transparent;
        max-width: 100svw;
        .parent {
             display: grid;
             justify-content: center;
             grid-template-columns: 1fr;
             grid-template-rows: repeat(17, 1fr);
             grid-column-gap: 0px;
             grid-row-gap: .25em;
             padding: 1.5em 0em;
             margin: 1em 0em;
             
             .box {
                padding: 1.5em;
                margin: .5em 0em;
                width: 100%;
                background-image: none;
                background-size: 50%;
                background-position: center;
                display: flex;
                flex-direction: column;
                text-wrap: balance;

                .num-and-arrow {
                    display: flex;
                    justify-content: space-between;
                }

                .visible-title {
                    text-align: center;
                    font-size: .75em;
                    span {
                        font-family: $main-font !important;
                        font-weight: 500;
                    }
                }

                .resource-type {
                    text-align: right;
                    font-size: .5em;
                    
                    span {
                        width: fit-content;
                        font-family: $main-font !important;
                        text-transform: uppercase;
                        font-weight: 400;
                        padding: .5em .75em;
                        border-radius: 1em;
                        letter-spacing: .25em;
                    }
                }

             }
             
             .div1 { 
                grid-area: 1 / 1 / 2 / 2;
                img {
                    position: relative;
                    left: 18%;
                    z-index: -1;
                }
            }
             .div2 { grid-area: 2 / 1 / 3 / 2; 
                background-image: url("../images/icons/icon1.svg");}
             .div3 { grid-area: 3 / 1 / 4 / 2; background-image: url("../images/icons/icon2.svg")}
             .div4 { grid-area: 4 / 1 / 5 / 2; background-image: url("../images/icons/icon3.svg")}
             .div5 { grid-area: 5 / 1 / 6 / 2; background-image: url("../images/icons/icon4.svg")}
             .div6 { grid-area: 6 / 1 / 7 / 2; background-image: url("../images/icons/icon5.svg")}
             .div7 { grid-area: 7 / 1 / 8 / 2; background-image: url("../images/icons/icon6.svg")}
             .div8 { grid-area: 8 / 1 / 9 / 2; background-image: url("../images/icons/icon7.svg")}
             .div9 { grid-area: 9 / 1 / 10 / 2; background-image: url("../images/icons/icon8.svg")}
             .div10 { grid-area: 10 / 1 / 11 / 2; background-image: url("../images/icons/icon9.svg")}
             .div11 { grid-area: 11 / 1 / 12 / 2; background-image: url("../images/icons/icon10.svg")}
             .div12 { grid-area: 12 / 1 / 13 / 2; background-image: url("../images/icons/icon11.svg")}
             .div13 { grid-area: 13 / 1 / 14 / 2; background-image: url("../images/icons/icon12.svg")}
             .div14 { grid-area: 14 / 1 / 15 / 2; background-image: url("../images/icons/icon13.svg")}
             .div15 { grid-area: 15 / 1 / 16 / 2; background-image: url("../images/icons/icon14.svg")}
             .div16 { grid-area: 16 / 1 / 17 / 2; background-image: url("../images/icons/icon15.svg")}
             .div17 { grid-area: 17 / 1 / 18 / 2; background-image: url("../images/icons/icon16.svg")}
            }
    } 
    }