.Marquee {
    background-color: $darkPink;
    color: #fff !important;
    width: 100svw;
    padding: .25em;
    display: block;
    .marquee-msg {
        margin: .25em 1em;
        font-size: 1em;
        font-family: $main-font !important;
    }
}

.end-of-advent-marquee {
    background-color: $lightPink;
}