.Nav {
    background-color: $lightPink;
    width: 100svw;
    padding: .75em; 
    font-family: $main-font;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    .react-countdown-simple {
        display: flex; 
        justify-content: center;
        .timer {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $blue;
            p {
                margin: .25em 1em;
            }
        }
    }

}

.end-of-advent {
    background-color: $darkPink !important;
}