.Snow {
    z-index: -1;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100svw;

    .snow-back {
        position: absolute;
        margin-top: -6em;
    }

    .snow-mid {
        position: absolute;
    }

    .snow-front {
        width: 155%;
        object-fit: cover;
        padding-top: -2em;
        height: 100%;
    }
    .extra-snow {
        background-color: #fff !important;
        margin-top: -1em;
    }
}