@import "variables.scss";
@import "_grid.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "_snow.scss";
@import "_marquee.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $blue !important;
  }
  
  html,
  body {
    max-width: 100svw;
    overflow-x: hidden;
  }
  
  body {
    background-color: $pink;

  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  span {
    font-family: $num-font;
    font-size: 2em;
    font-weight: 700;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }